.front
{
    #top
    {
        background: none;
        
        #logo
        {
            padding-top: 12px;
            
            img
            {
                height: 51px;
            }
        }
        
        #btn-menu
        {
            height: 76px;
            line-height: 76px;
        }
    }
    
    #main-wrapper
    {
        padding-top: 0;
    }
}