body
{
    background-color:white;
    color:$green;
}

a
{
    color:$green;
    text-decoration:underline;
}

p
{
    margin-bottom:0.75em;
}

ul, ol
{
    margin-left:25px;
    margin-bottom:0.75em;
}

hr
{
    height:0;
    border:0;
    border-bottom:2px solid $green;
    width:160px;
    margin:0 auto;
    display:block;
    margin-bottom:0.75em;
}

#page-wrapper
{
    overflow: hidden;
}
#main-wrapper
{
    padding-top: 51px;
}

#top
{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 100;
    height: 51px;
    background: #106232;
    box-shadow: 0 2px 5px rgba(0,0,0,0.22);

    #logo
    {
        display: block;
        padding-top: 7px;
        padding-left: 40px;
        float: left;
        z-index: 101;
        
        img
        {
            display: block;
            height: 36px;
            width: auto;
        }
    }
    
    #btn-menu
    {
        float: right;
        display: block;
        height: 51px;
        line-height: 51px;
        width: 51px;
        text-align: center;
        position: relative;
        z-index: 101;
        outline: none;
        
        &:active
        {
            background-color: #0e572c;
        }
        
        img
        {
            vertical-align: middle;
            display: inline-block;
            width: 28px;
            height: 20px;
        }
    }

    #block-system-main-menu
    {
        position: fixed;
        top: 0;
        left: 100%;
        width: 210px;
        bottom: 0;
        background: #106232;
        z-index: 100;
        
        .content
        {
            ul
            {
                list-style:none;
                margin:0;
                padding:80px 0 0 0;
            }
            li
            {
                display: block;
                list-style:none;
                margin:0;
                padding:0;
            }
            a
            {
                display: block;
                text-decoration:none;
                color: white;
                padding:0 10px 0 80px;
                text-transform:uppercase;
                height: 60px;
                line-height: 60px;
                font-weight: bold;
                font-size: 1.1em;
                background-position: 25px center;
                background-repeat: no-repeat;
                outline: none;
                
                &:hover,
                &:focus
                {
                    background-color: #0e572c;
                }
                
                &.home
                {
                    background-image: url(../images/icon-menu-home.png);
                }
                &.culture
                {
                    background-image: url(../images/icon-menu-culture.png);
                }
                &.services
                {
                    background-image: url(../images/icon-menu-services.png);
                }
                &.work
                {
                    background-image: url(../images/icon-menu-work.png);
                }
                &.contact
                {
                    background-image: url(../images/icon-menu-contact.png);
                }
                &.good-times
                {
                    background-image: url(../images/icon-menu-good-times.png);
                }
            }
        }
    }

    #block-menu-menu-social-menu
    {
        position: fixed;
        width: 210px;
        bottom: 8px;
        left: 100%;
        z-index: 101;

        .content > ul
        {
            list-style:none;
            margin:0;
            padding:0;
            text-align: center;

            li
            {
                display: inline-block;
                list-style:none;
                margin: 0;
                padding: 0;

                a
                {
                    display: block;
                    text-decoration:none;
                    font-size:0;
                    color:transparent;
                    width: 42px;
                    height: 42px;
                    background-repeat:no-repeat;
                    background-position:center center;
                    outline: none;

                    &:before
                    {
                        position: absolute;
                        left:-99999px;
                    }
                    
                    &:hover,
                    &:focus
                    {
                        background-color: #0e572c;
                    }

                    &.tw
                    {
                        background-image:url(../images/tw-white.png);
                    }
                    &.fb
                    {
                        background-image:url(../images/fb-white.png);
                    }
                    &.ig
                    {
                        background-image:url(../images/ig-white.png);
                    }
                }
            }
        }
    }
}

#bottom1
{
    background: white;
}
#bottom2
{
    overflow: hidden;
    padding-top: 51px;
    padding-bottom: 80px;
    background: url(../images/bg-footer.jpg) no-repeat center center;
    background-size: cover;
    color: white;
    
    a
    {
        color: white;
    }
    
    .good-times
    {
        display: block;
        margin-top: -51px;
        position: relative;
        height: 51px;
        background: $green;
        box-shadow: 0 2px 5px rgba(0,0,0,0.22);
        margin-bottom: 75px;
        
        &:after
        {
            content:"";
            display: block;
            position: absolute;
            width: 123px;
            height: 97px;
            background: url(../images/good-times.png) no-repeat;
            right: 15%;
            top: 0;
        }
    }
}

body.navbar-administration
{
    #top, #top #block-system-main-menu
    {
        top:39px;
    }
}
body.navbar-administration.navbar-vertical.navbar-tray-open
{
    #top
    {
        left:240px;
    }
}
body.navbar-administration.navbar-horizontal.navbar-tray-open
{
    #top, #top #block-system-main-menu
    {
        top:79px;
    }
}

body.culture,
body.work,
body.services,
body.good-times,
body.contact,
body.start-a-project
{
    #page-title
    {
        color:white;
        text-transform:uppercase;
        font-weight:bold;
        font-size:3.7em;
        text-align:center;
        line-height:350px;
        height: 350px;
        position: relative;
        margin-top:0;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
}
body.culture #page-title
{
    background-image:url(../images/title-culture.jpg);
}
body.work #page-title
{
    background-image:url(../images/title-work.jpg);
}
body.services #page-title
{
    background-image:url(../images/title-services.jpg);
}
body.good-times #page-title
{
    background-image:url(../images/title-good-times.jpg);
}
body.contact #page-title
{
    background-image:url(../images/title-contact.jpg);
}
h2.history,
h2.team,
h2.community,
h2.samples,
h2.clients,
h2.nice-things,
h2.why,
h2.what,
h2.how
{
    color:white;
    text-transform:uppercase;
    font-weight:300;
    font-size:3.7em;
    text-align:center;
    position: relative;
    line-height:300px;
    clear: both;

    &:before
    {
        content:"";
        display: block;
        height:300px;
        width: 1220px;
        position: absolute;
        top:0;
        left:50%;
        margin-left:-610px;
        background-repeat:no-repeat;
        background-position:center top;
        z-index: -1;
    }

    .icon
    {
        vertical-align: middle;
        margin-top: -20px;
        margin-right: 18px;
    }
}
h2.history:before
{
    background-image:url(../images/title-history.jpg);
}
h2.team:before
{
    background-image:url(../images/title-team.jpg);
}
h2.community:before
{
    background-image:url(../images/title-community.jpg);
}
h2.samples:before
{
    background-image:url(../images/title-samples.jpg);
}
h2.clients:before
{
    background-image:url(../images/title-clients.jpg);
}
h2.nice-things:before
{
    background-image:url(../images/title-nice-things.jpg);
}
h2.why:before
{
    background-image:url(../images/title-why.jpg);
}
h2.what:before
{
    background-image:url(../images/title-what.jpg);
}
h2.how:before
{
    background-image:url(../images/title-how.jpg);
}

#devices
{
    margin:-184px auto 0 auto;
    display: block;
}

#skip-link .element-invisible.element-focusable:active,
#skip-link .element-invisible.element-focusable:focus
{
    margin-top:55px;
    margin-bottom:-55px;
    display: block;
}

#history-content
{
    margin-top: 60px;
    margin-bottom: 30px;
    @include columns;
}
#work-intro
{
    margin-top:40px;
    @include columns;
}
.columns
{
    @include columns;
}
h2.samples
{
    margin-top:50px;
}

ul.tabs.primary
{
    position: relative;
    z-index: 1;
    margin-top: 0;
    margin-left: 0;
    padding-left: 0;
    border-bottom: 0;

    li a
    {
        border-style:solid;
        border-top: 0;

        &:hover
        {
            border-bottom-color:#bbb;
        }
    }

    li.active
    {
        display: none;
    }
}
div.messages
{
    margin-top:56px;
    margin-bottom: -55px;
    padding-left: 170px;
    padding-left: calc(50% - 310px);
    background-position:130px center;
    background-position: calc(50% - 340px) center;
}

#map
{
    width:100%;
    height:370px;
    border:0;
    border-top:10px solid $green;
    border-bottom:10px solid $green;
    display: block;
    margin-top: 40px;
}
#contact-info
{
    margin:40px auto 60px auto;
    font-size:1.75em;
    line-height:100%;
    font-weight: bold;
    width:100%;
    max-width:760px;
    position: relative;
    left: 60px;
    overflow: hidden;

    & > div
    {
        float: left;
        width:50%;
        background-repeat:no-repeat;
        background-position:left center;
        margin-bottom:10px;

        & > div
        {
            padding:16px 0 16px 60px;
        }

        a
        {
            display: block;
            text-decoration:none;

            &:hover
            {
                text-decoration:none;
            }
        }

        &.location
        {
            background-image: url(../images/location-large.png);

            & > div
            {
                padding-top:0;
                padding-bottom:0;
            }
        }
        &.phone
        {
            background-image: url(../images/phone-large.png);
        }
        &.email
        {
            background-image: url(../images/email-large.png);
        }
        &.twitter
        {
            background-image: url(../images/tw2-large.png);
        }
    }
}

body.start-a-project
{
    #page-wrapper
    {
        background:#282828 url(../images/photoshop-frame-top-repeat.png) repeat-x 23px top;
        margin-top:55px;

        &:before
        {
            content:"";
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width:12px;
            height: 100%;
            background: url(../images/photoshop-frame-left-repeat.png) repeat-y left top;
            z-index: -1;
        }
        &:after
        {
            content:"";
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
            width:100%;
            height: 14px;
            background: url(../images/photoshop-frame-bottom-repeat.png) repeat-x left top;
            z-index: 1;
        }

        & > div
        {
            background:url(../images/photoshop-frame-left.png) no-repeat left top;

            &:before
            {
                content:"";
                display: block;
                position: absolute;
                left: 0;
                bottom: 32px;
                width:100%;
                height: 14px;
                background: url(../images/photoshop-frame-bottom-left.png) no-repeat left top;
            }
            &:after
            {
                content:"";
                display: block;
                position: absolute;
                right: 0;
                bottom: 32px;
                width:100%;
                height: 14px;
                background: url(../images/photoshop-frame-bottom-right.png) no-repeat right top;
            }

            & > div
            {
                background:url(../images/photoshop-frame-top-right.png) no-repeat right top;
            }
        }
    }

    #main-wrapper
    {
        & > div > div
        {
            background:white;
            min-height:800px;
        }
    }
}

.block.like-what-you-see
{
    text-align: center;
    
    h2
    {
        text-transform: uppercase;
        font-size: 1.75em;
        line-height: 1;
        padding: 28px 0 18px 0;
    }
    
    .content
    {
        a
        {
            text-decoration: none;
            display: inline-block;
            padding: 0 20px;
            line-height: 45px;
            text-transform: uppercase;
            border: 3px solid $green;
            font-weight: bold;
            margin-bottom: 28px;
            
            &:active
            {
                background-color: $green;
                color: white;
            }
        }
        
        p
        {
            margin: 0;
        }
    }
}
.block.contact-info
{
    background: $green;
    
    .content
    {
        text-align: center;
        
        .address,
        .email,
        .phone
        {
            display: inline-block;
            padding: 0 30px 0 42px;
            font-weight: bold;
            line-height: 66px;
            font-size: 1.2em;
            color: white;
            background-repeat: no-repeat;
            background-position: left center;
            
            a
            {
                color: white;
                text-decoration: none;
            }
        }
        .address
        {
            background-image: url(../images/icon-address.png);
        }
        .email
        {
            background-image: url(../images/icon-email.png);
        }
        .phone
        {
            background-image: url(../images/icon-phone.png);
        }
        
        .gmap
        {
            height: 365px;
            width: 100%;
            color: $green;
            text-align: left;
            
            h2
            {
                text-transform: uppercase;
                margin-bottom: 0.5em;
            }
        }
    }
}
.block.instagram
{
    .content
    {
        max-width: 940px;
        padding: 0 20px;
        margin: 0 auto 32px auto;
        
        a
        {
            text-decoration: none;
        }
    }
    
    h2
    {
        text-transform: uppercase;
        padding-top: 75px;
        background: url(../images/icon-instagram.png) no-repeat center 25px;
    }
    .hashtag
    {
        text-transform: uppercase;
        font-style: italic;
    }
    .left
    {
        float: left;
        margin-left: 10px;
        margin-right: 30px;
        height: 150px;
        width: 160px;
        text-align: center;
    }
    .feed
    {
        img
        {
            display: inline-block;
            width: 150px;
            height: 150px;
            margin: 0 5px;
        }
    }
}
.block.twitter
{
    clear: both;
    
    .content
    {
        max-width: 940px;
        padding: 0 20px;
        margin: 0 auto 32px auto;
        
        a
        {
            text-decoration: none;
        }
    }
    
    h2
    {
        text-transform: uppercase;
        padding-top: 75px;
        background: url(../images/icon-twitter.png) no-repeat center 25px;
    }
    .name
    {
        text-transform: uppercase;
        font-style: italic;
    }
    .left
    {
        float: left;
        margin-left: 10px;
        margin-right: 30px;
        height: 150px;
        width: 160px;
        text-align: center;
    }
    .feed
    {
        .tweet
        {
            display: inline-block;
            vertical-align: middle;
            width: 200px;
            margin-right: 20px;
            word-wrap: break-word;
            
            .text
            {
                margin-bottom: 0.75em;
                height: 5em;
                overflow: hidden;
            }
            .avatar
            {
                display: inline-block;
                vertical-align: middle;
                
                img
                {
                    width: 42px;
                    height: 42px;
                }
            }
            .handle
            {
                display: inline-block;
                vertical-align: middle;
                padding-left: 15px;
            }
            .tco-hidden
            {
                position: absolute;
                left: -9999999px;
            }
            b
            {
                font-weight: 300;
            }
        }
    }
}
.block.spotify
{
    clear: both;
    
    .content
    {
        max-width: 940px;
        padding: 0 20px;
        margin: 0 auto;
    }
    
    h2
    {
        font-size: 0;
        text-transform: uppercase;
        padding-top: 75px;
        margin-bottom: 6px;
        background: url(../images/icon-spotify.png) no-repeat center 25px;
    }
    .label
    {
        text-transform: uppercase;
        font-style: italic;
    }
    .left
    {
        float: left;
        margin-left: 10px;
        margin-right: 30px;
        height: 132px;
        width: 160px;
        text-align: center;
    }
    h3
    {
        text-transform: uppercase;
        margin-bottom: 15px;
    }
    .top3
    {
        float: left;
        min-width: 150px;
        max-width: 220px;
        margin-right: 30px;
        
        ul
        {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        li
        {
            list-style: none;
            margin: 0;
            padding: 0 0 0.75em 0;
        }
    }
    .player
    {
        float: left;
    }
}