#top #logo
{
    padding-left: 20px;
}

#page-title
{
    font-size: 3.25em;
    line-height: 0.85;
}

.front .block.home-work h2
{
    line-height: 0.9;
    padding: 20px;
}

.view-team
{
    h2
    {
        line-height: 0.9;
        padding: 20px;
    }
    
    .bio .name
    {
        font-size: 1.75em;
    }
}

.view-clients .view-content ul li
{
    .field-content,
    a
    {
        width: 160px;
        height: 150px;
        line-height: 150px;
    }
}