.front .block.home-header .content
{
    font-size: 3.25em;
    width: 320px;
    height: 280px;
    left: 50%;
    margin-left: -160px;
    margin-top: -140px;
}

.front .home-what-we-do .content li
{
    display: block;
    width: 200px;
}

.block.contact-info .content .gmap
{
    height: 200px;    
}
