.view-work-samples
{
    .hover
    {
        padding: 20px;
    }
    .title
    {
        font-size: 2em;
        padding-bottom: 0.25em;
    }
    .description
    {
        line-height: 0.9;
    }
    .more
    {
        margin-top: 1em;
    }
}

.view-team .name
{
    font-size: 1.5em;
}