.front .block.home-how-we-do-it .content
{
    padding-left: 20px;
    padding-right: 20px;
    
    .step
    {
        margin-right: 12%;
    }
    .step-2,
    .step-4
    {
        margin-right: 0;
    }
}
