@media screen and (max-width:880px)
{
    #top #logo
    {
        margin-right:30px;
    }

    #top #block-system-main-menu .content>ul li
    {
        margin:0;
    }

    #contact-info
    {
        left: 0;
    }
}
