.front .block.home-how-we-do-it .content,
body.services .block.home-what-we-do .content
{
    .step
    {
        margin-right: 9%;
    }
    .step-4
    {
        margin-right: 0;
    }
}

#bottom2
{
    position: static;
}
#page-wrapper
{
    padding-bottom: 0 !important;
}

.block.instagram
{
    .left
    {
        margin-left: 0;
        margin-right: 20px;
    }
    .feed img
    {
        margin: 0 3px;
    }
}
.block.twitter
{
    .left
    {
        margin-left: 0;
        margin-right: 20px;
    }
    .feed .tweet
    {
        margin-right: 15px;
        
        &:last-child
        {
            margin-right: 0;
        }
    }
}
.block.spotify
{
    .left
    {
        margin-left: 0;
        margin-right: 20px;
    }
}

.view-team .thumb-detail > div
{
    padding: 15px 10px;
}
