.front .home-what-we-do .content li
{
    width: 120px;
}

.front .block.home-how-we-do-it .content
{
    .step
    {
        margin-right: 20%;
    }
    .step-2,
    .step-4
    {
        margin-right: 0;
    }
}
